<% page_name 'Active Volunteers' %>
<div id="confirmed_volunteers" class='row'>
  <div class="col-lg-10 col-lg-offset-1">
    <h1 class="page-header">Active volunteers</h1>
    <table class='table table-striped table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
          <th>Roles</th>
        </tr>
      </thead>
      <tbody>
        <% @confirmed_volunteers.each do |vol| %>
          <tr>
            <td>
              <%= vol.full_name %>
            </td>
            <td>
              <%= vol.email %>
            </td>
            <td>
              <%= button_to deactivate_user_path(vol), method: :patch,
                id: "deactivate_volunteer_#{vol.id}",
                class: 'btn btn-danger btn-xs',
                disabled: vol == current_user do %>
                <span class='glyphicon glyphicon-remove'></span> Deactivate
              <% end %>
            </td>
            <td id="volunteer_<%= vol.id %>_roles">
              <%= form_for vol, as: :volunteer, url: volunteer_path(vol) do |v| %>
                <% for role in [:trusted, :admin] %>
                  <label>
                    <%= check_box_tag "user[roles][]", role, vol.has_role?(role), id: "user_#{vol.id}_role_#{role}" %>
                    <%= role.to_s.humanize %>
                  </label>
                  &nbsp;
                <% end %>
                <%= hidden_field_tag "user[roles][]" %>
                <%= v.button as: :submit, class: 'btn btn-primary btn-xs' do %>
                  <span class='glyphicon glyphicon-ok'></span> Update
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
