<% page_name @locality.name %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'jsapi','charts' %>
<% end %>


<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <h1 class="page-header" data-id="<%= @locality.id %>"><%= @locality.name %></h1>
    <p><strong>City</strong> <%= @locality.city %></p>
    <ul class="locality_nav" role="navigation">
      <% if user_signed_in? && current_user.has_role?(:admin) %>
        <li><%= link_to "Edit this locality", edit_locality_path(@locality) %></li>
      <% end %>
      <li><%= link_to "Submit a new meeting", new_locality_user_meeting_path(@locality) %></li>
    </ul>
  </div>
</div>
<div class="row">
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-1 col-md-6 col-sm-6 graph">
    <div id="population_chart"></div>
    <h4>Florida Population</h4>
    <small>(Source:
      <a href="http://www.pewforum.org/2008/06/23/us-religious-landscape-survey-resources/" target="_blank">Pew
        Research</a>*)
    </small>
  </div>

  <div class="col-lg-4 col-lg-offset-1 col-md-6 col-sm-6 graph">
    <div id="invocations_chart"></div>
    <h4>InvocationsOnline Summary</h4>
    <small>(All <%= link_to 'Locations', localities_path %> being monitored)</small>
  </div>

  <div class="col-lg-2 col-lg-offset-1 locality_nav">
    <!--Todo Only show these links provided a user has the respective permissions for this locality-->
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <small>* The data from Pew has been simplified for graphical representation as follows: Responses in the categories
      of
      'Other Christian' and 'Other World Religion' have been combined into 'Other Religion'. Unaffiliated has been
      changed
      to 'None'. Responses in the category of 'Don’t Know/Refused' have been added to 'None'. The responses Mormon,
      Buddhist, and Hindu which were originally <0.5 have been rounded up to 0.5 each.
    </small>
  </div>
</div>

