<% content_for :page_name do %>
  <%=@locality.name%>
<% end %>
<% content_for :locality_class do %>
  active
<% end %>

<h1><%= @locality.name %></h1>
<p><strong>City</strong> <%= @locality.city %></p>
<p><%= link_to "Edit this locality", edit_locality_path(@locality) %></p>
<p><%= link_to "Submit a new meeting", controller: "user_meetings", action: "new", :locality_id => @locality.id  %></p>