<% page_name 'Help & FAQs' %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-6">
    <h1 class="page-header">Need Help?</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <p>See if your question is answered below. If not, use the <%= link_to 'Contact Form', contact_path %>.</p>

      <h3>Who are you?</h3>

      <p>The Team of people behind <%= link_to 'InvocationsOnline', root_path %> are state/church activists who are seeking to ensure our government remains neutral regarding religion. </p>

      <h3>Why are you doing this?</h3>

      <p>Unfortunately, the U.S. Supreme Court’s decision in <em>Town of Greece v. Galloway</em> allows sectarian
        prayers to be
        given by citizens before public meetings. As a result of this ruling, non-religious people from across the U.S.
        are seeking to be included in the ceremonial portion of their local government meetings by offering an
        "invocation" of their own. Whether this invocation is given as an inclusive and inspirational message to begin
        the meeting or if calls out the problem of allowing prayers before meetings, these invocations are permitted by
        law and we seek to ensure the inclusion of all persons&mdash;especially those who are not in the majority.
      </p>

      <h3>Are school boards allowed to have prayers before meetings?</h3>

      <p>No! School boards are not allowed to have prayers. They may refer to a portion of the meeting as an
        "invocation" but this doesn’t mean they are having a prayer. If they are praying, report the violation using our
        <%= link_to 'Report a violation', page_path('violations') %> page. These instructions will be more thoroughly
        developed over time and will
        include information about writing and presenting. For now, this is a summary of the steps to take to participate
        in your local government meeting.
      </p>

      <h3>I don’t have time to monitor invocations. Is there something else I can do to help?</h3>

      <p>Sure! If you’re unable to pitch in with your time, then we would gladly accept financial assistance to cover
        the costs of hosting and maintaining this website. Use the <%= link_to 'Contact Us', contact_path %> form to be
        in touch. And
        thanks!
      </p>

      <h3>My city/county does not have an invocation. Should I still be monitoring it?</h3>

      <p>Absolutely! Perhaps monthly or every other month is appropriate&mdash;just in case they change their mind and
        decide
        to start conducting invocations. Please go to the <%= link_to 'Volunteer', page_path('volunteer') %> page to
        sign up and help us out!
      </p>

      <h3>The Council Members/Commissioners where I live say the invocation themselves. Is that allowed?</h3>

      <p>It is our opinion (and we are not attorneys) that this is not allowed. Please use
        the <%= link_to 'Contact Us', contact_path %>
        page and let us know about this so we can seek to understand the situation better and see if we can help.
      </p>

      <h3>Do I have to stand for the invocation, and do I have to stand for or recite the Pledge of Allegiance?</h3>

      <p>Absolutely not! In fact, we recommend that anyone who does not wish to stand for these remains seated to
        ensure that anyone else who wishes to do so can as well. If you have recently been compelled to stand for either
        the invocation or the Pledge of Allegiance, please let us know by using
        the <%= link_to 'Contact Us', contact_path %> page.
      </p>

      <h3>How do I go about doing an invocation in my city or town?</h3>

      <p><strong>NOTE</strong>: School board meetings are not allowed to have prayers during the invocation. If this is
        the case, report the violation using our Report a Violation page. (Insert link) These instructions will be more
        thoroughly developed over time and will include information about writing and presenting. For now, this is a
        summary of the steps to take to participate in your local government meeting.</p>
      <ol>
        <li>First, check and see if the government meeting is being monitored at our website. If it is, chances are we
          may be working to conduct an invocation so use the <%= link_to 'Contact Us', contact_path %> page to let us
          know you are interested in doing an invocation there.
        </li>
        <li>Determine if the government meeting includes an invocation during the ceremonial portion. Some meetings are
          broadcast on television, others have video or audio archived online, and most have an agenda and minutes
          posted online. Sometimes you have to go to the meeting to determine this.
        </li>
        <li>If an invocation is <em><strong>not</strong></em> being conducted then you should
          <em><strong>not</strong></em> attempt to conduct an invocation yourself.
        </li>
        <li>If an invocation is being conducted, attempt to contact with the chairperson directly or her/his
          administrative support staff to inquire about how the process works and how to sign up.
        </li>
        <li>Don’t take "No" for an answer and be sure to keep us posted on your efforts and progress using
          our <%= link_to 'Contact Us', contact_path %> page.
        </li>
      </ol>

  </div>
</div>
