<% page_name 'Home' %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'charts' %>
<% end %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-6">
    <h1 class="page-header text-hide" data-id="">Invocations Online</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <p>Through the millennia, society has learned the best way to govern the people is for the people to govern
      themselves. In this spirit, InvocationsOnline is here to assure/ensure <strong><em>ALL</em></strong> citizens are
      included in the ceremonial
      portion of <strong><em>OUR</em></strong> local government meetings.</p>

    <p>Put simply, if an invocation will be the part of a governing meeting, it must include opportunities for all
      people&mdash;of any religious affiliation or god beliefs. We do not democratically choose a religion as a
      city, town, or county, and we may not democratically choose who will conduct invocations on our behalf. This must
      be an open process with no barriers to entry for anyone.</p>

    <p>Find more about your local government meetings including how to offer your own invocation at
      the <%= link_to 'Locations', localities_path %>
      page.</p>

    <p>Join our team and help us collect invocation data in your area at
      our <%= link_to 'Volunteer', page_path('volunteer') %> page. It’s much easier than you
      think.</p>

    <p>Need information on the current status of the law? Try the <%= link_to 'More Info', page_path('moreinfo') %>
      page.</p>
  </div>
</div>
<div class="row">

  <div class="col-lg-4 col-lg-offset-1 col-md-6 col-sm-6 graph">
    <div id="population_chart"></div>
    <h4>Florida Population</h4>
    <small>(Source:
      <a href="http://www.pewforum.org/2008/06/23/us-religious-landscape-survey-resources/" target="_blank">Pew
        Research</a>)
    </small>
  </div>

  <div class="col-lg-4 col-lg-offset-1 col-md-6 col-sm-6 graph">
    <div id="invocations_chart"></div>
    <h4>InvocationsOnline Summary</h4>
    <small>(All <%= link_to 'Locations', localities_path %> being monitored)</small>
  </div>
</div>
