<% page_name 'More Info' %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <h1 class="page-header">More Info</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <ul>
      <li>Need to get in touch with the <%= link_to 'InvocationOnline', root_path %> project
        team? <%= link_to 'Contact Us', contact_path %>!
      </li>
      <li>Want instructions on how to reach out to your local government to conduct an invocation of your own? Find
        instructions on the <%= link_to 'Help & FAQ', page_path('help') %> page.
      </li>
      <li>Have a few minutes to help us collect more data? Meetings are often viewable online. Check out
        our <%= link_to 'Volunteer', page_path('volunteer') %> page.
      </li>
      <li>Need to report a state/church violation or contact one of our national allies?
        <%= link_to 'Find a list of contacts here', page_path('violations') %>.
      </li>
      <li>Here are a few legal resources on the <em>Town of Greece v. Galloway</em> case.
        <ul>
          <li><a target="_blank" href="http://www.law.cornell.edu/supremecourt/text/12-696">Cornell</a></li>
          <li><a target="_blank" href="http://www.scotusblog.com/case-files/cases/town-of-greece-v-galloway/">SCOTUS
            Blog</a></li>
          <li><a target="_blank" href="http://www.oyez.org/cases/2010-2019/2013/2013_12_696">Chicago-Kent</a></li>
        </ul>
      </li>
      <li>Looking for the source data which describes the religious demographics in the U.S?
        <ul>
          <li>Our source data:
            <a target="_blank" href="http://www.pewforum.org/2008/06/23/us-religious-landscape-survey-resources/">Pew
              Religious
              Landscape Survey (2008)</a></li>
          <li>Other useful data:
            <a target="_blank" href="http://commons.trincoll.edu/aris/">American Religious Identification Surveys
              (2012)</a></li>
        </ul>
      </li>
    </ul>

  </div>
</div>
