<% content_for :scripts do %>
  <%= javascript_include_tag 'meetingApproval' %>
<% end %>

<table class="table table-hover">
  <caption id="meeting-caption">Invocation Conducted Meetings Awaiting Approval</caption>
  <thead>
  <tr>
    <th>Meeting ID</th>
    <th>Meeting Time</th>
    <th>Before Pledge?</th>
    <th>Asked to Stand?</th>
    <th>Speaker Preach?</th>
    <th>Speaker Praised?</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @user_meetings.each_with_index  do |m, i| %>
    <tr class="<%= (i % 2 == 0) ? 'even' : 'odd' %>">
      <td><%= m.id %></td>
      <td><%= m.meeting_time %></td>
      <td><%= m.pledge_before %></td>
      <td><%= m.asked_to_stand %></td>
      <td><%= m.speaker_preached %></td>
      <td><%= m.speaker_praised %></td>
      <td>
          <div class="btn-group">
              <%= button_to approve_user_meeting_path(m), method: :patch,
                            id: "approve_meeting_#{m.id}",
                            class: 'btn btn-success btn-xs', data: {confirm: 'Are you sure you wish to approve?'} do %>
                            <span class="glyphicon glyphicon-ok"></span> Approve
              <%end%>
              <!--todo update to use the correct action-->
              <button class="btn btn-primary btn-xs" type="submit">
                            <span class="glyphicon glyphicon-eye-open"></span> Preview</button>
              <!--todo update to use the correct action-->
              <button class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span> Deny</button>
          </div>
      </td>
    </tr>
    <tr class="toggleable">
      <td colspan="7">
        <div class="slide-panel">
          foo bar
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>