<table class="table table-striped table-hover">
  <caption id="meeting-caption">Invocation Conducted Meetings Awaiting Approval</caption>
  <thead>
  <tr>
    <th>Meeting ID</th>
    <th>Meeting Time</th>
    <th>Before Pledge?</th>
    <th>Asked to Stand?</th>
    <th>Speaker Preach?</th>
    <th>Speaker Praised?</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @user_meetings.each do |m| %>
    <tr>
      <td><%= m.id %></td>
      <td><%= m.meeting_time %></td>
      <td><%= m.pledge_before %></td>
      <td><%= m.asked_to_stand %></td>
      <td><%= m.speaker_preached %></td>
      <td><%= m.speaker_praised %></td>
      <td width="24%">
          <div class="btn-group">
              <%= button_to approve_user_meeting_path(m), method: :patch,
                            id: "approve_meeting_#{m.id}",
                            class: 'btn btn-success btn-xs', data: {confirm: 'Are you sure you wish to approve?'} do %>
                            <span class="glyphicon glyphicon-ok"></span> Approve
              <%end%>
              <!--todo update to use the correct action-->
              <%= button_to approve_user_meeting_path(m), method: :patch,
                            id: "approve_meeting_#{m.id}",
                            class: 'btn btn-primary btn-xs', data: {confirm: 'Are you sure you wish to approve?'} do %>
                            <span class="glyphicon glyphicon-pencil"></span> Edit
              <%end%>
              <!--todo update to use the correct action-->
              <%= button_to approve_user_meeting_path(m), method: :patch,
                            id: "approve_meeting_#{m.id}",
                            class: 'btn btn-danger btn-xs', data: {confirm: 'Are you sure you wish to approve?'} do %>
                            <span class="glyphicon glyphicon-remove"></span> Deny
              <%end%>
          </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>