<% content_for :title do %>Invocations - New Meeting
<% end %>
<div class='row'>
  <div class='col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 authform'>
    <%= form_for @user_meeting, html: { class: 'form-vertical' } do |f| %>
      <h3>New Meeting</h3>
      <div class='form-group'>
        <%= f.hidden_field :locality_id, :value => params[:locality_id] %>
      </div>
      <div class='form-group'>
        <%= f.label :meeting_type, '* Meeting type' %>
        <%= f.select :meeting_type, options_for_select([ ['Choose', ''], ['Regular', 'Regular'],
                                                         ['Special', 'Special'], ['Other', 'Other']]), {},
                     html_options = {:class => 'form-control'}
         %>
      </div>
        <div class='form-group'>
        <%= f.label :meeting_time, '* Meeting time' %>
        <%= f.text_field :meeting_time, size: 30, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :invocation_conducted, '* Invocation conducted?' %>
        <%= f.select :invocation_conducted, options_for_select([ ['Choose', ''], ['Yes', 'Yes'],
                                                                 ['No', 'No'], ['Moment of silence', 'Moment of silence']]), {},
                     html_options = {:class => 'form-control'} %>
      </div>
      <div class='form-group hide invocation_only'>
        <%= f.label :pledge_before, '* Was the invocation immediately before or immediately after the Pledge of Allegiance?' %>
        <%= f.select :pledge_before, options_for_select( [['Choose', ''], [ 'Immediately before', 'Immediately before' ],
                                                          [ 'Immediately after', 'Immediately after' ],
                                                          [ 'Neither', 'Neither' ], ['Unknown', 'Unknown']]), {},
                     html_options = {:class => 'form-control'} %>
      </div>
      <div class='form-group hide invocation_only'>
        <%= f.label :asked_to_stand, '* Were members of the public asked/invited to stand?' %>
        <%= f.select :asked_to_stand, options_for_select( [['Choose', ''], ['Yes, by official/employee', 'Yes, by official/employee'],
                                                          ['Yes, by speaker', 'Yes, by speaker'],
                                                          ['Both', 'Both'],
                                                          ['Neither', 'Neither']]), {},
                     html_options = {:class => 'form-control'} %>

      </div>
      <div class='form-group hide invocation_only'>
        <%= f.label :speaker_preached, '* Did the speaker denigrate anyone, threaten damnation, or preach conversion?' %>
        <%= f.select :speaker_preached, options_for_select([ ['Choose', ''], ['Yes, Explain', 'Yes, Explain'],
                                                             ['No', 'No'], ['Unknown', 'Unknown']]), {},
                     html_options = {:class => 'explain form-control'} %>
        <%= text_area_tag(:message, '', size: "60x3", :class => 'text form-control hide', :name => 'speaker_preached_explaination') %>
      </div>
      <div class='form-group hide invocation_only'>
        <%= f.label :speaker_praised, '* Was the speaker and/or organization promoted or praised in any way other than announcing the speaker’s name and affiliation?' %>
          <%= f.select :speaker_praised,options_for_select([ ['Choose', ''], ['Yes, Explain', 'Yes, Explain'],
                                                             ['No', 'No'], ['Unknown', 'Unknown']]), {},
                       html_options = {:class => 'explain form-control'}  %>
          <%= text_area_tag(:message, '', size: "60x3", :class => 'text form-control hide', :name => 'speaker_praised_explaination') %>
      </div>
      <div class="hide invocation_only">
      <%= f.fields_for :speaker do |speaker| %>
        <h4>Speaker</h4>
        <div class='form-group'>
          <%= speaker.label :honorific %>
          <%= speaker.text_field :honorific, size: 5, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= speaker.label :name, '* Name of Speaker' %>
          <%= speaker.text_field :name, class: 'form-control', required: true %>
        </div>
        <%= speaker.fields_for :organization, speaker.object.build_organization do |org| %>
          <div class='form-group'>
            <%= org.label :name, 'Organization or House of Worship' %>
            <%= org.text_field :name, class: 'form-control' %>
          </div>
        <% end %>
        <div class='form-group'>
          <%= speaker.label :religion_id, '* Religion' %>
          <%= speaker.collection_select :religion_id, @religions, :id, :name, { prompt: 'Please select a religion' }, { class: 'form-control', required: true } %>
        </div>
      <% end %>
      </div>
      <div class='form-group'>
        <%= f.label :concerns %>
        <%= f.text_area :concerns, rows: 10, class: 'form-control' %>
      </div>
      <%= f.submit 'Create meeting', class: 'btn btn-default btn-lg pull-right' %>
    <% end %>
  </div>
</div>
