<%# add navigation links to this file %>

  <li class="<%= 'active' if current_page? root_path %>"><%= link_to 'Home', root_path %></li>
  <li class="<%= 'active' if current_page? page_path('moreinfo') %>"><%= link_to 'More Info', page_path('moreinfo') %></li>
  <li class="<%= 'active' if current_page? page_path('volunteer') or current_page? new_user_registration_path %>"><%= link_to 'Volunteer', page_path('volunteer') %></li>
  <li class="<%= 'active' if current_page? page_path('help')  %>"><%= link_to 'Help', page_path('help') %></li>
  <li class="<%= 'active' if current_page? localities_path %>"> <%= link_to 'Locations', localities_path %></li>
<% if user_signed_in? %>
  <% if current_user.has_role?(:admin) %>
    <li class="dropdown" id="adminMenu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Adminstration <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="adminMenu">
        <li><%= link_to 'Cukes', cukes_path %></li>
        <li class="<%= 'active' if current_page? active_volunteers_path %>"><%= link_to 'Active Volunteers', active_volunteers_path %></li>
        <li class="<%= 'active' if current_page? inactive_volunteers_path %>"><%= link_to 'Inactive Volunteers', inactive_volunteers_path %></li>
      </ul>
    </li>
  <% end %>
  <li class="dropdown" id="accountMenu">
    <a data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="accountMenu">
      <li class="<%= 'active' if current_page? user_meetings_path %>"><%= link_to 'My Meetings', user_meetings_path %></li>
      <li class="<%= 'active' if current_page? edit_user_registration_path %>"><%= link_to 'Edit Account', edit_user_registration_path %></li>
      <li><%= link_to 'Log out', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </li>
<% else %>
  <li><%= link_to 'Log in', new_user_session_path %></li>
<% end %>
