<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= content_for?(:title) ? yield(:title) : 'Invocations Online' %><%= content_for?(:page_name) ? " - #{yield(:page_name)}" : '' %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Invocations Online' %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container-fluid'>
  <div class="row">
    <div class="col-lg-11">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
    </div>
  </div>
  <div class="row" id="logo">
    <div class="col-lg-offset-1">
      <%= link_to(image_tag('logo_transparent.png', :alt => 'logo', :title => 'Home'), root_path) %>
    </div>
  </div>
  <div class="row">
    <div class="main col-md-12">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>

</div>
<%= javascript_include_tag 'application' %>
<%= yield(:scripts) %>
</body>
</html>
