<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="author" href="/humans.txt" />
  <title><%= content_for?(:title) ? yield(:title) : 'Invocations Online' %><%= content_for?(:page_name) ? " - #{yield(:page_name)}" : '' %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Invocations Online' %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container-fluid'>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="main col-md-12">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
      <footer class="clearfix">
        <div class="footer-nav-wrapper">
          <div class="col-lg-5 col-sm-7 col-md-5 footer-nav">
            <ul class="small" role="navigation">
              <li><%= link_to 'Terms and Conditions', page_path('volunteer') %></li>
              <li><%= link_to 'Privacy Policy', page_path('volunteer') %></li>
              <li><%= link_to 'Contact Us', contact_path %></li>
              <li><%= link_to 'Support', page_path('volunteer') %></li>
            </ul>
          </div>
          <div class="col-lg-2 col-lg-offset-5 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-4 copyright">&copy; <%= Time.now.strftime('%Y') %> InvocationsOnline</div>
        </div>
        <%= yield(:footer) %>
      </footer>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application' %>
<%= yield(:scripts) %>
</body>
</html>
